@import "tailwindcss";

/* Container */
.container {
  width: 1213px;
  height: 697px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.wrapper {
  position: absolute;
}
.bouncer {
  width: 100px;
  height: 100px;
  border-radius: 32px;
  transition: transform 3s ease;
}
.no-bounce {
width: 100px;
  height: 100px;
  border-radius: 32px;
  transition: transform 0.4s ease;
}

.top { top: 155px; left: 390px; }
.top1 { top: 153px; left: 650px; }
.middle { top: 300px; left: 250px; }
.middle1 { bottom: 330px; left: 850px; }
.bottom { bottom: 190px; left: 410px; }
.bottom1 { bottom: 195px; left: 700px; }
	
 .gif1, .gif2, .gif3, .gif4 {
  transform: translate(0, 0);
  transition: transform 0.4s ease;
  
}
.container:hover .gif1 {
  transform: translate(0, -100px);
}
.container:hover .gif2 {
  transform: translate(0, 100px);
}
.container:hover .gif3 {
  transform: translate(-100px, 80px);
}
.container:hover .gif4 {
  transform: translate(100px, 80px);
}

.container:hover .bounce-up .bouncer {
  animation: bounce-up 3s ease-in-out 0.4s infinite;
  
}
.container:hover .bounce-down .bouncer {
  animation: bounce-down 3s ease-in-out 0.4s infinite;
}


.top, .top1, .middle, .middle1, .bottom, .bottom1 {
  transform: translate(0, 0);
  transition: transform 0.4s ease;

}

.container:hover .top {
  transform: translate(-100px, -100px);
	
}
.container:hover .top1 {
  transform: translate(100px, -100px);
}
.container:hover .middle {
  transform: translate(-100px, 0);
}
.container:hover .middle1 {
  transform: translate(100px, 0);
}
.container:hover .bottom {
  transform: translate(-80px, 100px);
}
.container:hover .bottom1 {
  transform: translate(20px, 100px);
}

@keyframes bounce-up {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  
}

@keyframes bounce-down {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(20px); }
}


.hello-text {
   position: absolute;
  top: -40px; /* adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: white !important;
  padding: 4px 10px;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  animation: fadeInOut 3s infinite;
  white-space: nowrap;
}
.hello-text::after {
  content: "";
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: white transparent transparent transparent; 
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
